*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(2, 63, 2);
    padding: 10px;
}

.todo{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px  30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: rgb(2, 63, 2);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}

 .todo h2 img{
    width: 70px;
    margin-left: 300px;
}
img{
    height: 100px;
    /* margin-left: 300px; */
    object-fit: cover;
}
.input-button{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   background:rgb(225, 216, 216);
   border-radius: 30px;
   padding-left: 20px;
   margin-bottom: 25px ;
   
}
input{
    font-weight: 26px;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
    
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(2, 63, 2);
    color: white;
    border-radius: 40px;
    font-size: 16px;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li:before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    background-image: url(/images/pngwing.com.png);
    /* border-radius: 50px; */

}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/images/checked.png);
}